In [ ]:
USE SQLTests;

SELECT TOP (1000) md.CalDate
      ,md.WasMissing
      ,DATENAME(weekday, md.CalDate) as 'WeekdayName'
  FROM MissingDates md

Where 1=1
--And WasMissing is not NULL

In [ ]:
Select c 
    
    From
        (SELECT 1 UNION All SELECT 1) as D(c) -- D(c) bedeutet: abgeleitete Tabelle "D" mit einer einzelnen Saplte "c"

In [ ]:
WITH C0 as (
Select c 
    
    From
        (SELECT 1 UNION All SELECT 1) as D(c)
)

Select *
From C0

In [ ]:
WITH C0 as (
Select c 
    
    From
        (SELECT 1 UNION All SELECT 1) as D(c)
)
,
C1 as (
Select c                -- Fehler: nun gibt es noch einen Spaltennamen mit "c". 
    
    From C0
        Cross JOIN C0   -- Fehelr: C0 wird hier mehrfach referenziert. Lösung benutze Alias -> siehe nächste Zelle
)

Select *
From C1

In [ ]:
WITH C0 as (
Select c 
    
    From
        (SELECT 1 UNION All SELECT 1) as D(c)
)
,
C1 as (
Select
A.c as c1
,B.c as c2
    
    From C0 as A
        Cross JOIN C0 As B
)

Select *
From C1

In [ ]:
WITH C0 as (
Select c 
    
    From
        (SELECT 1 UNION All SELECT 1) as D(c)
)
,
C1 as (
Select
A.c as c1
,B.c as c2
    
    From C0 as A
        Cross JOIN C0 As B
)
,
C2 as (
Select
D.c1 as c1
,D.c2 as c2
,F.c1 as c3
,F.c2 as c4         -- durch Kreuzprodukt (cross join) werden die Spalten jeweils verdoppelt. Ist für diesen Algo aber vernachlässigbar. Es ist nur die Anzahl Zeilen wichtig. 
    
    From C1 as D
        Cross JOIN C1 As F
)

Select *
FROM C2